


body{
    background-color: white;
}







.container-navigation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;

}

ul {
    list-style-type: none;
    position: static;
    top:0;
    margin:0;
    width:99%;
    padding: 5px;
    overflow:hidden;
    background-color:#333;
}


 li{
     float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
     
 }

 li a {
     display:block;
     color:white;
     text-align:center;
     padding:14px 16px;
     text-decoration:none;
 }

 li:hover:not(.active){
     background-color:#111;
     
 }
 .push{
     margin-left: auto;
 }

/* section one flex grow and shrink */

.section-one {
    background-color:#A7C7E7;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}





/* section 2 center item */

.section-two {
    background-color:lightblue;
    height: 700px;
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.heading{
    font-size:30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* section 3 youtube video */

.section-three {
    background-color:#6082B6;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    align-items: center;
    justify-content: center;

}

.typo{
    text-align: center;
    font-size:30px;
    margin-top: 10px;
    display:flex;
}

.column{
    float:left;
    width:20%;
    padding:10px;
    margin-top: 3px;;
}
.row:after{
    content:"";
    clear:both;
    display:table;
}




/* section 4 embed audio */

.section-four {
    background-color:#6F8FAF;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
figcaption{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size:40px;
    color:aliceblue;

}

.ux{
    float:left;
    display:50%;
    padding: 20px;
    margin-top: 5px;
    margin-left: 10px;
   

}


/* section 5 media items */

.section-five {
    background-color: #89CFF0;
    height: 800px;

}
.media-container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 15px 25px 15px 15px;
}

.mediacontent{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: navy;
    font-size: 40px;
}

.media-container .mediacontent{
    flex: 1;
    padding: 10px;
}
.report{
    margin-bottom:100px;
    font-size:16px;
}

footer{
    background-color: gray;
    height: 30px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-small;
    color:white;
    padding: 10px 0px;
}


.CARP-section-one{
    background-color:lightgray;
    height: 700px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
.caption{
    text-align: center;
    font-size:20px;
    display:flex;
}

a{
    position:relative;
}

a span{
    font-size:20px;
    display:none;
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    width:97%;
    padding:5px;
    background:rgba(255,255,255,.8);
}

a:hover span{
    display:block;
}

.CARP-section-two{
    background-color:cadetblue;
    height:650px;
    padding:0px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
}

.CARP-section-three{
    background-color:darkkhaki;
    height:650px;
    padding:0px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
}

.coding-worksheet{
    background-color:darksalmon;
    height:650px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.week-2-3{
    text-align:center;
    font-size:30px;
}


.coding-worksheet-2{
    background-color:darkslategrey;
    height:700px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.week-4-5{
    text-align:center;
    font-size:30px;
    color:white;
}

/*typo task*/

.typo-section-one{
    background-color:oldlace;
    height:300px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.axial{
    text-align: center;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.axial-desc{
    margin-top: 50px;
    padding:5px;
    font-family: Arial, Helvetica, sans-serif;
    text-align:left;
    font-size: 20px;
}

.typo-section-two{
    background-color:lightblue;
    height:300px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items:center;
    justify-items: center;
}

.radical{
    font-size:40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.radical-desc{
    margin-top: 50px;
    padding:5px;
    font-family: Arial, Helvetica, sans-serif;
    text-align:left;
    font-size: 20px;
}

.typo-section-three{
    background-color:lightsteelblue;
    height:300px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items:center;
    justify-items: center;
}


.dila{
    font-size:40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.dila-desc{
    margin-top: 50px;
    margin-right:70px;
    padding:5px;
    font-family: Arial, Helvetica, sans-serif;
    text-align:left;
    font-size: 20px;
}

.typo-section-four{
    background-color:navajowhite;
    height:300px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items:center;
    justify-items: center;
}


.random{
    font-size:40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.random-desc{
    margin-top: 50px;
   
    padding:5px;
    font-family: Arial, Helvetica, sans-serif;
    text-align:left;
    font-size: 20px;
}

.typo-section-five{
    background-color:powderblue;
    height:300px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items:center;
    justify-items: center;
}


.grid{
    font-size:40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.grid-desc{
    margin-top: 50px;
    margin-right:340px;
    padding:5px;
    font-family: Arial, Helvetica, sans-serif;
    text-align:left;
    font-size: 20px;
}

.typo-section-six{
    background-color:rosybrown;
    height:300px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items:center;
    justify-items: center;
}


.modular{
    font-size:40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.modular-desc{
    margin-top: 50px;
    margin-right:50px;
    padding:5px;
    font-family: Arial, Helvetica, sans-serif;
    text-align:left;
    font-size: 20px;
}

.typo-section-7{
    background-color:slategrey;
    height:300px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items:center;
    justify-items: center;
}


.trans{
    font-size:40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.trans-desc{
    margin-top: 50px;
    margin-right:300px;
    padding:5px;
    font-family: Arial, Helvetica, sans-serif;
    text-align:left;
    font-size: 20px;
}

.typo-section-8{
    background-color:seashell;
    height:300px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items:center;
    justify-items: center;
}


.bila{
    font-size:40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bila-desc{
    margin-top: 50px;
    margin-right: 130px;
    padding:5px;
    font-family: Arial, Helvetica, sans-serif;
    text-align:left;
    font-size: 20px;
}

.about-me{
    background-color:tan;
    height:300px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items:center;
    justify-items: center;
}

.me{
    text-align: center;
    margin-top:100px;
    font-size:30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}